user www-data;
worker_processes auto;
pid /run/nginx.pid;

events {
    worker_connections 768;
}

http {
    upstream backend {
        least_conn;
        {% for host in groups['backend'] %}
        server {{ host }};
        {% endfor %}
    }

    server {
        listen 80;
        server_name localhost;

        location / {
            proxy_pass http://backend;
        }
    }
}
